# gradle-update
# Copyright (C) 2025 Benjamin Schmitz
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <https://www.gnu.org/licenses/>.

{% for exercise in exercises %}

{% for type in types %}

git clone https://TUM-ID:TOKEN@artemis.tum.de/git/ITP2425{{ exercise | upper }}/itp2425{{ exercise }}-{{ type }}.git /tmp/{{ exercise }}-{{ type }}
cd /tmp/{{ exercise }}-{{ type }}
./gradlew wrapper --gradle-version 8.12
./gradlew wrapper --gradle-version 8.12
git commit -a -m "Update Gradle Version"
git push origin main
cd ..
rm -rf /tmp/{{ exercise }}-{{ type }}

{% endfor %}

{% endfor %}
